.body{
	background-color: #f4f4f4;
	color:#333;
	line-height: 1.6em;
	margin:auto;
	font-family: tahoma;
	font-size: 16px;

}
.container-one{
	width: 80%
	margin:0 auto;
	overflow: hidden;
	padding: 0 15%;

}
.container-one h1{
	text-align: center;
}
#header1{
	background-color: coral;
	color: #fff;

}
#navbar{
	background-color: black;
	color:#fff;
}
#navbar ul{
padding : 0;
list-style: none;
}
#navbar li{
	display: inline;

}
#navbar a{
	color:white;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#showcase {
	background-image: url('HTML.jpg');
	background-position: center right;
	min-height : 300px;
	margin-bottom: 30px;
	text-align: center;
}
#showcase h3{
	color: #f00;
	font-size: 50px;
	position: absolute;
	    right: 48%;
    top: 118px;

}
#main{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}
#sidebar{
	float: right;
	width: 30%;
	background-color: #333;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;

}
#foot1
{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
@media(max-width: 600px;){
	#main{
		width: 100%
		float:none;
	}
	#sidebar{
		width: 100%
		float:none;
	}
}